[submodule "capstone"]
	path = capstone
	url = https://github.com/capstone-engine/capstone
[submodule "HexFiend"]
	path = HexFiend
	url = https://github.com/HexFiend/HexFiend
[submodule "Sparkle"]
	path = Sparkle
	url = https://github.com/sparkle-project/Sparkle
[submodule "MachO-Kit"]
	path = MachO-Kit
	url = https://github.com/DeVaukz/MachO-Kit
[submodule "keystone"]
	path = keystone
	url = https://github.com/keystone-engine/keystone
